*{
    margin: 0;
    padding: 0;
    text-decoration: none;      
}

h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 16.8px;
    color: #242831;
}
p{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #6B6B6B;
}

h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #242831;
    padding-top: 4px;
}

h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #242831;
}

/* ================Sidebar============ */
 .image img{
    width:130px;
    height: 80px  
} 

.container{
    display: flex;
}

.sidebar .icon{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #000000af;
    ;
}  

.sidebar .link_text{
    font-size: 16px;
    color: #0000004D;
    ;
}

main{
    width:100%;
    padding:24px;
}

.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-right: 2px solid #ECECEC;
}




/* =============================Home(Profile)=============================== */

.profile .image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.home{
    display: flex;
}
.profile_container{
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.profile_container .profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding:10px 0 0 40px;
}

.profile .line {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.profile .line .h_line{
    border-right: 1px solid #6B6B6B ;
}

.profile_container .part-2 button{
    background-color: #fff;
    font-weight:500;
    Size:14px;
    line-height:19.6px;
    padding:7px 70px;
    border: 1px solid #6B6B6B ;
    border-radius: 5px;
    color:#36393E   
}

.profile_container .part-2 h3{
    font-weight: 400;
    font-size: 16px;
    padding: 50px 0px 25px 0px;
    color:#36393E
}



/* =======Report====== */


.profile_container .part-2 .report .pdf h4{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #36393E;
}

.profile_container .part-2 .report .pdf .note{
    color: #5c5e61;
}

.profile_container .part-2 .report .pdf{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #F9F9F9;
    border-radius: 5px;
}


/* =========Part-2 */

.home .details{
    padding: 40px 0 0 20px;
}

.home .details .section1{
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-gap: 40px;
}

.home .details .section1 h5{

}

.home .details .section1 .v_line{   
    background: #6B6B6B;
    height: 1px;
    width: 140px;
    margin-top: 15px;
    }

.details .section2{
    display: flex;
    gap: 66px;
    margin:50px 200px 17px 0;
    background-color:#F8F8F8;
    padding: 6px 28px 6px 8px;
    border-radius: 5px;
}

.details .section2 a{
   
    font-weight: 500;
    font-size: 13px;
    color: #4469BA;
    background-color:#ffffff;
    padding: 8px 25px 8px 25px;
    border-radius: 5px;
}
.details .section2 p{
    padding: 8px;
}
/* ===============Treatment============= */
.treatment{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 40px;
    background-color:#F8F8F8;
    border-radius: 10px;
}

.treatment .previous{
    display: flex;
    justify-content: space-between;
    padding: 14px 28px 14px 28px;
    border-bottom: 1px solid #6B6B6B;
    margin-bottom: 23px;
}

.treatment .previous .show{
    background-color:#ffffff;
    padding: 8px 10px 8px 10px;
}
.treatment .previous p{
    padding: 8px;
}

/* ============Date-1==================== */
.treatment .date{
    display: flex;
    justify-content: space-between;
    background-color:#ffffff;
    margin: 0px 27px 25px 25px;
    padding: 13px 21px 13px 23px;
}

.date .h_line{
    border-right: 1px solid #6B6B6B;
    padding-right: 40px;   
}
.h_line h2{
    padding-bottom: 10px;
}
.note_report, .note_report p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #3156C8;
    ;
}